html {
    font-size: 12pt;
    font-family: sans-serif;
}

body {
    background-color: darkslategray;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headwrap {
    background-color: rgba(169, 169, 169, 0.5);
    width: 70vw;
    height: 120px;
    border-radius: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    h2 {
        grid-column-start: 2;
        grid-column-end: 4;
        justify-self: center;
        font-size: 2rem;
    }
    #inp {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 1.2rem;
    }
    #button {
        grid-row-start: 2;
        grid-column-start: 3;
    }
    #saveBut {
        grid-row-start: 2;
        grid-column-start: 4;
    }
}

#mainwrap {
    width: 70vw;
    background-color: rgba(169, 169, 169, 0.5);
    border-radius: 10px;
    height: 100%;

    .list {
        li {
            list-style: none;
            cursor: pointer;
        }
        li.checked {
            text-decoration: line-through;
        }
        li:hover {
            background-color: deeppink;
        }
        .checkbox:checked {
            width: 300px;
            background-color: red;
        }
        .checkbox {
            width: 300px;
            height: 300px;
        }
    }
}
